.track {
  border: thin solid red;
  padding: 1rem auto;
  width: 90%;
  display: flex;
  align-content: space-between;
}

.trackStep {
  flex-grow: 1;
  padding: 1rem auto;
  margin: 1rem;
  color: white;
}
